asgiref==3.8.1
boto3==1.38.44
botocore==1.38.44
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.4
Django==5.2.3
django-cors-headers==4.7.0
django-oauth-toolkit==3.0.1
django-soft-delete==1.0.19
django-storages==1.14.6
djangorestframework==3.16.0
idna==3.10
jmespath==1.0.1
jwcrypto==1.5.6
oauthlib==3.3.1
pillow==11.2.1
psycopg2-binary==2.9.10
pycparser==2.22
python-dateutil==2.9.0.post0
requests==2.32.4
s3transfer==0.13.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.0
urllib3==2.5.0
